:root {
  --background: hsl(0deg 0% 5%);
  --color-text-headings: hsl(0deg 0% 100%);
  --color-text: hsl(0deg 0% 90%);
  --font-family: Georgia, serif;
  --font-size: clamp(16px, 0.5vw + 14px, 19px);
  --line-height: 1.5;
  --ratio-xl: 1.4141;
  --ratio-xs: 1.333;
  --ratio-xs: 1.222;
}

html, body {
  margin: 0;
}

html {
  background-color: var(--background);
}

:root {
  --ru: calc(var(--font-size) * var(--line-height));
  --ratio: var(--ratio-xs);
  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--h4) * var(--ratio));
  --h2: calc(var(--h3) * var(--ratio));
  --h1: calc(var(--h2) * var(--ratio));
}

@media (min-width: 40em) {
  :root {
    --ratio: var(--ratio-xl);
  }
}
article {
  max-width: 70ch;
  padding: var(--ru);
  margin: auto;
  font-size: var(--font-size);
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin-top: 0;
  overflow-wrap: break-word;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-headings);
  margin: 0;
}

p {
  line-height: var(--line-height);
  text-align: justify;
  margin-top: var(--ru);
  margin-bottom: 0;
}

h1 {
  font-size: var(--h1);
  line-height: calc(3 * var(--ru));
  margin-top: var(--ru);
  letter-spacing: 0.02rem;
}

h2 {
  font-size: var(--h2);
  line-height: calc(2 * var(--ru));
  margin-top: var(--ru);
}

h3 {
  font-size: var(--h3);
  line-height: calc(2 * var(--ru));
  margin-top: var(--ru);
}

h4 {
  font-size: var(--h4);
  line-height: calc(1 * var(--ru));
  margin-top: var(--ru);
}

code {
  background-color: #333333;
  padding: 5px;
  border-radius: 5px;
}

.sidenote {
  --width: calc( (100vw - 70ch) / 4);
  float: right;
  width: var(--width);
  margin-right: calc(-1.5 * var(--width));
  font-style: italic;
}

t-o-c > ol {
  list-style: upper-roman;
}
t-o-c ol {
  line-height: var(--line-height);
  margin: var(--ru) 0;
}
t-o-c ol ol {
  margin: 0;
}
t-o-c ol a {
  display: flex;
  color: unset;
  gap: 1rem;
}
t-o-c ol a .chapter {
  flex: 1;
  position: relative;
  overflow: hidden;
}
t-o-c ol a .chapter::after {
  content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
  position: absolute;
  text-align: right;
}
a {
  color: var(--color-text-headings);
}

hr {
  background-color: white;
  margin: calc(var(--ru) - 0.5px) 0;
}

.article ul, .article ol {
  margin: 0;
  margin-bottom: var(--ru);
}
.article ul li, .article ol li {
  line-height: var(--line-height);
}

figure {
  margin: var(--ru) 0;
}
figure img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 40ch;
}
figure figcaption {
  text-align: center;
  line-height: var(--line-height);
}

/* body:active {
  background-image: linear-gradient(rgba(255, 16, 16, 0.5) 1px, transparent 1px);
  background-size: 100% var(--ru);
} */

@media print {
  @page {
    size: A4;
    margin: 10mm 10mm;
  }
}

/*# sourceMappingURL=main.css.map */
